@{
    ViewData["Title"] = "Products";
    var listOfBrands = ViewData["listOfBrands"] as List<Brand>;
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <partial name="_FilterFormPartial"></partial>
        </div>
        <div class="col-10">
            <partial name="_DisplayProductsPartialcshtml"></partial>
        </div>
    </div>
</div>
