@model ContactUs

@{
    ViewData["Title"] = "Contact Us Inbox";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Contact Message Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="border p-3">
            <div class="form-floating py-2 col-12">
                <input asp-for="Name" class="form-control border-0 shadow" disabled />
                <label asp-for="Name" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Email" class="form-control border-0 shadow" disabled />
                <label asp-for="Email" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea asp-for="Subject" class="form-control border-0 shadow" rows="3" disabled></textarea>
                <label asp-for="Subject" class="ms-2"></label>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea asp-for="Message" class="form-control border-0 shadow" rows="5" disabled></textarea>
                <label asp-for="Message" class="ms-2"></label>
            </div>

            <div class="row pt-2">
                <div class="col-md-3">
                    <a asp-controller="ContactUs" asp-action="Index" class="btn btn-primary form-control">Back to All</a>
                </div>
                <div class="col-md-3">
                    <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-danger  form-control">Delete Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
