@{
    ViewData["action"] = "SaveNew";

    ViewData["Title"] = "Create a Brand";

}
<div id="success-message" class="alert alert-success alert-dismissible fade show d-none" role="alert">
    تمت العملية بنجاح
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<partial name="_CreateEditPartial.cshtml"></partial>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
}